PORT=3000

VITE_BASE_URL=http://localhost:3000

UPLOADS_DIR_NAME=images
DATABASE_URL=/app/instance/site.db
BASE_UPLOADS_LOCATION=/app/storage/images

REGISTER_KEY=complicated-key-to-make-site-private
REGISTER_KEY_SALT=
REGISTER_KEY_HASH=

BETTER_AUTH_SECRET=change-me-at-least-20-characters

# Email Credentials
ADMIN_MAIL_USERNAME=change@me.com
ADMIN_MAIL_PASSWORD=change-me-at-least-8-characters

OPEN_ROUTER_API_KEY=
OPEN_ROUTER_MODEL_ID=
